<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('{{ site.url }}/img/{{page.image}}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{{ page.title }}</h1>
                    <hr class="small">
                    {% if page.layout == 'post' %}
                        <h2 class="subheading">{{ page.subtitle }}</h2>
                        <br /><br />
                        <span class="meta">Posted by <a href"#">{{page.author}}</a> on {{ page.date | date_to_string }}</span>
                    {% else %}
                        <span class="subheading">{{ page.subtitle }}</span>                            
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>